In [1]:
import pandas as pd

In [2]:
def print_expenditures(df, candidate_name, supported):
    expenditures = df[
        (df['Candidate'].str.contains(candidate_name)) &
        (df['Supported '] == supported)
    ][['Name of Organization', 'Amount ']]

    print(expenditures['Amount '].sum())
    return expenditures.groupby('Name of Organization').sum('Amount ')

### Import independent expenditure data

In [3]:
df = pd.read_csv('input/indep_expend.csv')
df = df[df.Election == '2022 General Election (11/08/2022)']

df = df.rename(columns={'Name of Candidate or Question ': 'Candidate'})

df['Candidate'] = df.Candidate.str.upper()
df['Name of Organization'] = df['Name of Organization'].str.upper()

### HD7 -- Republican Parke Wentling

In [4]:
print_expenditures(df, candidate_name='WENTLING', supported='YES ')

160634.66999999998

                                                  Amount
Name of Organization
AMERICANS FOR PROSPERITY                          5971.44
GUN OWNERS OF AMERICA INC COMMITTEE                138.50
PA FAMILY COUNCIL                                15200.00
PA FAMILY PAC                                     2324.73
PENNSYLVANIA CHAMBER OF BUSINESS AND INDUSTRY   129000.00
PENNSYLVANIA FAMILY COUNCIL                       8000.00

In [5]:
print_expenditures(df, candidate_name='WENTLING', supported='NO ')

0.0

Empty DataFrame
Columns: [Amount ]
Index: []

### HD7 -- Democrat Tim McGonigle

In [6]:
print_expenditures(df, candidate_name='MCGONIGLE', supported='YES ')

3000.0

                      Amount
Name of Organization
WORKING AMERICA        3000.0

In [7]:
print_expenditures(df, candidate_name='MCGONIGLE', supported='NO ')

0.0

Empty DataFrame
Columns: [Amount ]
Index: []

### HD9 -- Republican Marla Brown

In [8]:
print_expenditures(df, candidate_name='MARLA', supported='YES ')

163927.77

                                                  Amount
Name of Organization
AMERICANS FOR PROSPERITY                         25927.77
PENNSYLVANIA CHAMBER OF BUSINESS AND INDUSTRY   138000.00

In [9]:
print_expenditures(df, candidate_name='MARLA', supported='NO ')

11222.7

                       Amount
Name of Organization
                       1015.92
N/A                   10206.78

### HD9 -- Democrat Chris Sainato

In [10]:
print_expenditures(df, candidate_name='SAINATO', supported='YES ')

3000.0

                      Amount
Name of Organization
WORKING AMERICA        3000.0

In [11]:
print_expenditures(df, candidate_name='SAINATO', supported='NO ')

1131.19

                           Amount
Name of Organization
AMERICANS FOR PROSPERITY   1131.19